.no-project-selected-container {
  /* background-color: red; */
  margin-top: 5rem;
  width: 66%;
  text-align: center;
}

.no-project-selected-container img {
  width: 4rem;
  object-fit: contain;
}

.no-project-selected-container h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.text {
  color: rgba(0, 0, 0, 0.5);
}

.no-project-selected-container button {
  padding: 0.5rem 1rem;
  background-color: rgba(55, 59, 55);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  border-style: none;
}

.no-project-selected-container button:hover {
  background-color: rgba(1, 1, 1, 0.7);
  color: rgba(255, 255, 255);
}
